@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  * {
    border-color: #e2e8f0;
  }
  
  body {
    background-color: white;
    color: #0f172a;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #030712;
    color-scheme: dark;
  }
}
